.table-game{
  height: 300px;
  width: 500px;
  border-bottom: 1px solid black;
  position: relative;
}
.player{
  height: 40px;
  width: 40px;
  bottom: 0;
  position: absolute;
}
.player img{
  display: block;
  height: 100%;
  width: 100%;
}
.obstacle{
  height: 50px;
  width: 70px;
  bottom: 0;
  position: absolute;
  right: 50px;
}
.herbe{
  position: absolute;
  bottom: -27px;
  width: 100%;
  
}

.obstacle img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
